{{page-title "Item"}}
<GeneralContainer>
    <div class="product item-details-page">
        <Product::Image />
        <Product::Details />
    </div>
    <h5 class='mt-5'>Features</h5>
    <ul>
        <li>Denim is very strong and does not snag or tear easily.</li>
        <li>It is also breathable, can be ironed at a high temperature and creases easily. </li>
        <li>Suitable for long wear, it is quite stiff when new, but softens with continued washing and wear.</li>
        <li>Mom Jeans for all.</li>
    </ul>
</GeneralContainer>
{{outlet}}